    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <!-- set & endset directives create intermediate variable named user_link
                 which are passed as an argument to translation function -->
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}

                <!-- display date when post was submitted-->
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>

                 <span id="post{{ post.id }}">{{ post.body }}</span>

                <!-- translate button, only appears if language is detected and if
                  language does not match language selected by function decorator localeselector -->

                <br><br>
                    <!-- Call to translate function with passed html elements -->
                {% if post.language and post.language != g.locale %}
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
            </td>
        </tr>
    </table>
